---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryList from "../../components/CategoryList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}

type Props = {
  page: Page;
};

const { page } = Astro.props;
const posts = page.data as CollectionEntry<"posts">[];
const allCategories = posts.flatMap((post) => post.data.categories);
const categories = Array.from(new Set(allCategories));
const pageTitle = "Matt Birch's Web Development Blog";
const blogDescription =
  "Transforming ideas into powerful web experiences. I combine technical expertise with creative problem-solving to deliver websites that not only look great but perform exceptionally.";
---

<Layout title={pageTitle} description={blogDescription} fullWidth={true}>
  <section
    class="max-w-screen-2xl mx-auto py-16 sm:py-24 md:py-32 px-4 sm:px-6 md:px-8"
  >
    <div class="max-w-screen-xl mx-auto">
      <header class="text-center mb-12">
        <h1 class="h1-text text-center mb-8 md:mb-12">
          {pageTitle}
        </h1>
        <p class="dark:text-darkModeText text-xl mb-12">
          {blogDescription}
        </p>
      </header>
      <CategoryList categories={categories} title="Tags" />
      <div class="my-12 flex justify-end">
        <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
      </div>
      <PostList posts={posts} />
      <div class="mt-12 flex justify-end">
        <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
      </div>
    </div>
  </section>
</Layout>
