---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import Share from "../../components/Share.astro";
import { Image } from "astro:assets";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  ogImage={post.data.image.src}
  image={post.data.image}
>
  <Main>
    <div class="max-w-screen-xl mx-auto">
      <article>
        <nav>
          <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block">
            --> Back to all blogs
          </a>
        </nav>
        <header>
          <h1 class="h1-text text-4xl font-bold mb-6">
            {post.data.title}
          </h1>
          <Image
            src={post.data.image}
            alt={post.data.title}
            width={1024}
            height={1024 / 1.5}
            class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
            loading="lazy"
          />
        </header>
        <div class="flex flex-col md:flex-row gap-8">
          <div
            class="md:w-3/4 prose-2xl dark:text-darkModeText overflow-visible relative"
          >
            <Content />
          </div>
          <aside class="md:w-1/4">
            <TableOfContents headings={headings} />
            <Share post={post} />
          </aside>
        </div>
      </article>
    </div>
  </Main>
</Layout>
