---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

// Example projects data
const projects = [
  {
    title: "Gormania",
    description: "Website that highlights this sht business.",
    imageSrc: "/images/gormania.png", // Direct path since it's in 'public/images'
    tags: ["Georgia Boyz"],
    completed: "https://github.com/mattbirch/project-one",
    liveUrl: "https://mattbirch.co/project-one",
  },
  {
    title: "Project Two",
    description: "A brief description of Project Two.",
    imageSrc: "/src/assets/project-two.jpg", // Adjust path as needed if in 'src/assets'
    tags: ["Astro", "Tailwind CSS", "TypeScript"],
    completed: "https://github.com/mattbirch/project-two",
    liveUrl: "https://mattbirch.co/project-two",
  },
];
const pageTitle = "My Projects";
---

<Layout>
  <section
    class="projects-section py-8 sm:py-16 transition-colors duration-300"
  >
    <div class="max-w-7xl mx-auto">
      <h1
        class="h1-text heading-text text-4xl text-teal-900 sm:text-4xl font-bold text-center mb-8 sm:mb-12"
      >
        {pageTitle}
      </h1>
      <div class="projects-container">
        {
          projects.map((project) => (
            <div class="mb-8 sm:mb-12">
              <ProjectCard
                title={project.title}
                description={project.description}
                imageSrc={project.imageSrc}
                tags={project.tags}
                completed={project.completed}
                liveUrl={project.liveUrl}
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .projects-container {
    margin-top: 2rem; /* Add some space between the title and the cards */
  }
</style>
