---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = [
  {
    title: "Gormania",
    description: "Website that highlights this sht business.",
    imageSrc: "/images/gormania.png",
    category: "Web Development",
    keyFeatures: ["Feature A", "Feature B", "Feature C"],
  },
  // Add more projects as needed
];

const pageTitle = "My Projects";
const pageDescription = "All about my portfolio of work.";
---

<Layout title={pageTitle} description={pageDescription}>
  <section
    class="projects-section py-8 sm:py-16 transition-colors duration-300"
  >
    <div class="max-w-7xl mx-auto">
      <h1
        class="h1-text heading-text text-4xl text-teal-300 sm:text-4xl font-bold text-center mb-8 sm:mb-12"
      >
        {pageTitle}
      </h1>
      <div class="projects-container space-y-16">
        {
          projects.map((project) => (
            <ProjectCard
              title={project.title}
              description={project.description}
              imageSrc={project.imageSrc}
              category={project.category}
              keyFeatures={project.keyFeatures}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .projects-container {
    margin-top: 2rem;
  }
</style>
