---
interface Props {
  title: string;
  description: string;
  ogImage: string;
  canonicalURL: string;
}

const { title, description, ogImage, canonicalURL } = Astro.props;

// Function to clean URL by removing '/index.html' at end, for SEO
function cleanUrl(url: string) {
  return url.replace(/\/index\.html$/, "/");
}

// Ensure variables have fallback values
const resolvedTitle = title || "Matt Birch's Personal Blog";
const resolvedDescription =
  description ||
  "A blog by Matt Birch on web development and digital marketing.";
const resolvedOgImage = ogImage || "https://mattbirch.co/default-image.jpg";
const resolvedCanonicalURL = cleanUrl(canonicalURL || "https://mattbirch.co");
---

<title>{resolvedTitle}</title>
<meta name="description" content={resolvedDescription} />
<link rel="canonical" href={resolvedCanonicalURL} />

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Matt Birch" />
<meta property="og:url" content={resolvedCanonicalURL} />
<meta property="og:title" content={resolvedTitle} />
<meta property="og:description" content={resolvedDescription} />
<meta property="og:image" content={resolvedOgImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_US" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@themattbirch" />
<meta name="twitter:creator" content="@themattbirch" />
<meta name="twitter:domain" content="mattbirch.co" />
<meta name="twitter:url" content={resolvedCanonicalURL} />
<meta name="twitter:title" content={resolvedTitle} />
<meta name="twitter:description" content={resolvedDescription} />
<meta name="twitter:image" content={resolvedOgImage} />
<meta name="twitter:image:alt" content={resolvedTitle} />

<!-- Favicon & Theme -->
<meta name="theme-color" content="#0072ff" />
<link rel="icon" href="/favicon.ico" sizes="any" />
