---
import type { CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const postUrl = "/blog/" + post.slug;
import { Image } from "astro:assets";
---

<article>
  <a href={postUrl} aria-label={`Read more about ${post.data.title}`}>
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={600}
      height={600 / 1.5}
      class="rounded-2xl shadow-xl mb-6 object-cover"
      loading="lazy"
    />
  </a>

  <h2 class="h2-text dark:text-darkModeText text-4xl mb-4 font-semibold">
    <a href={postUrl}>{post.data.title}</a>
  </h2>

  <p class="dark:text-darkModeText text-2xl mb-9 line-clamp-2">
    {post.body.slice(0, 200)}...
  </p>
</article>
