---
import SkillsComponent from "@/components/SkillsComponent.astro";
import Layout from "@/layouts/Layout.astro";
import {
  Heart,
  MessageSquare,
  Users,
  Search,
  Brain,
  Clock,
} from "lucide-react";

const skills = [
  {
    name: "Empathy",
    description:
      "Proficient in understanding and being mindful of others' emotional state.",
    icon: Heart,
  },
  {
    name: "Communication",
    description:
      "Excellent communication skills, both written and verbal. This was learned in college, where I earned a communications degree.",
    icon: MessageSquare,
  },
  {
    name: "Teamwork",
    description:
      "Strong ability to work in collaborative environments. I'm a team player who always takes a holistic view working on projects.",
    icon: Users,
  },
  {
    name: "Awareness",
    description:
      "Skilled in being conscious of both my and others' feelings. This helps achieve both stakeholders' and coworkers' goals.",
    icon: Search,
  },
  {
    name: "Problem-Solving",
    description:
      "Analytical thinker with strong problem-solving abilities. Able to break down complex issues and find innovative solutions.",
    icon: Brain,
  },
  {
    name: "Time Management",
    description:
      "Excellent at prioritizing tasks, meeting deadlines, and balancing multiple projects efficiently.",
    icon: Clock,
  },
];

const pageTitle = "EQ Skills I've Built";
const pageDescription =
  "Discover the essential soft skills that enhance my daily workflow, from emotional intelligence to effective communication and problem-solving.";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  ogImage="/assets/images/soft-skills-programming.jpg"
  fullWidth={true}
>
  <div class="soft-skills-gradient-wrapper min-h-screen pb-12">
    <!-- Introduction Text Section -->
    <section class="text-center mx-auto py-10 md:py-16 lg:py-20">
      <div class="max-w-screen mx-auto">
        <h1 class="h1-text mb-4 sm:mb-6 md:mb-8 fade-in-up">
          {pageTitle}
        </h1>
        <p class="text-base sm:text-lg md:text-xl max-w-xl mx-auto">
          Understanding and refining these soft skills is crucial for
          professional growth, fostering strong team dynamics, and ensuring
          project success.
        </p>
      </div>
    </section>

    <!-- Skills Section -->
    <section class="pb-8 md:pb-16 lg:pb-20 fade-in-up">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2
          class="text-2xl md:text-3xl font-bold text-center mb-12 dark:text-blue-200 soft-skills-heading-color"
        >
          Essential Soft Skills
        </h2>
        <SkillsComponent skills={skills} />
      </div>
    </section>
  </div>
</Layout>

<style>
  .soft-skills-gradient-wrapper {
    background: linear-gradient(to bottom, #f7f9fc, #dde4ee, #f7f9fc);
  }

  :global(.dark) .soft-skills-gradient-wrapper {
    background: linear-gradient(to bottom, #3a506b, #2c3e50, #3a506b);
  }
</style>

<script type="module" src="/scripts/fadeIn.js"></script>
