---
import SkillsComponent from "@/components/SkillsComponent.astro";
import Layout from "@/layouts/Layout.astro";

const skills = [
  {
    name: "Empathy",
    description:
      "Proficient in understanding and sharing the feelings of others.",
    icon: "fa-heart",
    level: "Beginner",
  },
  {
    name: "Awareness",
    description:
      "Skilled in being conscious of your own feelings and those of others.",
    icon: "fa-eye",
    level: "Skill",
  },
  {
    name: "Communication",
    description: "Excellent communication skills, both written and verbal.",
    icon: "fa-comments",
    level: "Expert",
  },
  {
    name: "Teamwork",
    description: "Strong ability to work in collaborative environments.",
    icon: "fa-handshake",
    level: "Advanced",
  },
  // Add more skills as needed
];

// Split the skills array into two parts
const half = Math.ceil(skills.length / 2);
const skillsPart1 = skills.slice(0, half);
const skillsPart2 = skills.slice(half);

const pageTitle = "Emotional Quotient Skills I've Built";
const pageDescription = "The emotional quotient skills I've built.";
---

<Layout title={pageTitle} description={pageDescription} fullWidth={true}>
  <!-- Introduction Text Section -->
  <div class="horizontal-gradient-wrapper">
    <section class="text-center mx-auto py-16 sm:py-24 md:py-32">
      <div class="max-w-screen mx-auto">
        <h1 class="h1-text text-center mb-8 md:mb-12 fade-in-up">
          {pageTitle}
        </h1>
        <p class="text-lg">
          Understanding and refining these soft skills is crucial for
          professional growth, fostering strong team dynamics, and ensuring
          project success.
        </p>
      </div>
    </section>
    <!-- SkillsComponent with Split Part 1 -->
    <section class="pb-16 sm:pb-24 md:pb-32 fade-in-up">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="h2-text font-bold text-center mb-8 sm:mb-16">
          A few soft skills I've developed
        </h2>
        <SkillsComponent skills={skillsPart1} />
      </div>
    </section>
    <!-- SkillsComponent with Split Part 2 -->
    <section class="pb-16 sm:pb-24 md:pb-32">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="h2-text font-bold text-center mb-8 sm:mb-16">
          ...A few more.
        </h2>
        <SkillsComponent skills={skillsPart2} />
      </div>
    </section>
  </div>
</Layout>

<style>
  .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #ffffff, #dde4ee, #ffffff);
  }

  /* Dark mode gradient */
  :global(.dark) .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #45617c, #374962, #45617c);
  }
</style>

<script type="module" src="/scripts/fadeIn.js"></script>
