---
import SkillsComponent from "@/components/SkillsComponent.astro";
import Layout from "@/layouts/Layout.astro";
import {
  Code,
  FileCode,
  Braces,
  Globe,
  Laptop,
  Globe2,
  Server,
  Search,
  PenTool,
} from "lucide-react";

const coreSkills = [
  {
    name: "HTML",
    description:
      "Proficient in creating structured, semantic markup for both static and dynamic web applications.",
    icon: Code,
  },
  {
    name: "CSS",
    description:
      "Skilled in manipulating the DOM using Cascading Style Sheets to style and lay out web pages.",
    icon: FileCode,
  },
  {
    name: "JavaScript",
    description:
      "Expert in modern JavaScript, including ES6+ features, DOM manipulation, and asynchronous programming.",
    icon: Braces,
  },
];

const additionalSkills = [
  {
    name: "Astro",
    description:
      "Build fast, content-focused websites with Astro's modern features and optimal client-side performance.",
    icon: Globe,
  },
  {
    name: "React",
    description:
      "Skilled in creating dynamic user interfaces with React, including hooks, context, and state management.",
    icon: Laptop,
  },
  {
    name: "WordPress",
    description:
      "Proficient in custom WordPress development, from theme creation to plugin integration, delivering tailored solutions for unique brand needs.",
    icon: Globe2,
  },
  {
    name: "Node.js",
    description:
      "Familiar with server-side development, API integration, and backend architecture.",
    icon: Server,
  },
  {
    name: "SEO & Content Strategy",
    description:
      "Utilize SEO copywriting expertise to improve organic search visibility and drive targeted traffic for small and medium-sized businesses.",
    icon: Search,
  },
  {
    name: "Copywriting",
    description:
      "Create engaging, conversion-focused content for brands and businesses across multiple channels, including website copy, blog posts, social media content and email newsletters.",
    icon: PenTool,
  },
];

const pageTitle = "Technical Skills I've Acquired";
const pageDescription =
  "Explore my technical expertise in HTML, CSS, React, Astro, WordPress, SEO, and more—skills that drive my development and design work.";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  ogImage="/assets/images/technical-skills-programming.jpg"
  fullWidth={true}
>
  <div class="horizontal-gradient-wrapper">
    <!-- Introduction Section -->
    <section class="text-center mx-auto py-12 md:py-20 lg:py-24 xl:py-32">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="h1-text fade-in-up">
          {pageTitle}
        </h1>
      </div>
    </section>

    <!-- Core Technical Skills Section -->
    <section class="pb-12 md:pb-20 lg:pb-24 xl:pb-32 fade-in-up">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <SkillsComponent skills={coreSkills} />
      </div>
    </section>

    <!-- Additional Expertise Section -->
    <section class="pb-12 md:pb-20 lg:pb-24 xl:pb-32">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-bold text-center pb-12 md:pb-20 lg:pb-24 xl:pb-32 additional-skills dark:text-blue-200 skills-heading-color"
        >
          Additional Expertise
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          {
            additionalSkills.map((skill) => (
              <div class="bg-white dark:bg-gray-800 expertise-grid rounded-lg shadow-md p-6 transform transition-all duration-300 hover:shadow-lg hover:-translate-y-1">
                {" "}
                <div class="flex items-center space-x-4 mb-4">
                  <div class="w-12 h-12 bg-blue-100 dark:bg-blue-900 rounded-lg flex items-center justify-center">
                    <skill.icon className="w-6 h-6 text-blue-600 dark:text-blue-300" />
                  </div>
                  <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
                    {skill.name}
                  </h3>
                </div>
                <p class="text-gray-600 dark:text-gray-300">
                  {skill.description}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .expertise-grid {
    margin-bottom: 1rem;
  }

  .additional-skills {
    color: var(--primary-color);
  }
  .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
  }

  .horizontal-gradient-wrapper-1 {
    background: linear-gradient(to bottom, #d9e2ec, #f0f4f8);
  }

  :global(.dark) .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #1e3a5f, #243b55);
  }

  :global(.dark) .horizontal-gradient-wrapper-1 {
    background: linear-gradient(to bottom, #243b55, #1e3a5f);
  }
</style>
