---
import SkillsComponent from "@/components/SkillsComponent.astro";
import Layout from "@/layouts/Layout.astro";
import { faCode } from "@fortawesome/free-solid-svg-icons";
import { faCss3Alt, faJs, faReact } from "@fortawesome/free-brands-svg-icons";

const skills = [
  {
    name: "HTML",
    description:
      "Proficient in creating structured, semantic markup for both static and dynamic web applications.",
    icon: faCode,
  },
  {
    name: "CSS",
    description:
      "Skilled in manipulating the DOM using Cascading Style Sheets to style and lay out web pages.",
    icon: faCss3Alt,
  },
  {
    name: "JavaScript",
    description:
      "Comfortable adding interactive elements to web pages to optimize the user experience and also accept input.",
    icon: faJs,
  },
  {
    name: "React",
    description:
      "Leverage this popular JavaScript library to build both single and multi-page applications. React allows me to utilize components in the web application build process.",
    icon: faReact,
  },
];

// Split skills array into two parts
const half = Math.ceil(skills.length / 2);
const skillsPart1 = skills.slice(0, half);
const skillsPart2 = skills.slice(half);

const pageTitle = "Technical Skills I've Acquired";
const pageDescription = "The technical skills I possess.";
---

<Layout title={pageTitle} description={pageDescription} fullWidth={true}>
  <div class="horizontal-gradient-wrapper">
    <!-- Introduction Text Section -->
    <section class="text-center mx-auto py-12 md:py-20 lg:py-24 xl:py-32">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="h1-text mb-4 sm:mb-6 md:mb-8 fade-in-up">
          {pageTitle}
        </h1>
        <p class="text-base sm:text-lg md:text-xl max-w-2xl mx-auto">
          Understanding and refining these technical skills is crucial for
          professional growth, fostering strong team dynamics, and ensuring
          project success.
        </p>
      </div>
    </section>

    <!-- SkillsComponent with split (part 1)-->
    <section class="pb-12 md:pb-20 lg:pb-24 xl:pb-32 fade-in-up">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-12 text-blue-700 dark:text-blue-200 skills-heading-color"
        >
          Knowledgeable in
        </h2>
        <!-- Render SkillsComponent for first part of skills -->
        <SkillsComponent skills={skillsPart1} />
      </div>
    </section>

    <!-- SkillsComponent with split (part 2)-->
    <section>
      <div class="max-w-7xl mx-auto px-4 md:px-6">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-12 text-blue-700 dark:text-blue-200 skills-heading-color"
        >
          More skills I possess
        </h2>
        <!-- Render SkillsComponent for second part of skills -->
        <SkillsComponent skills={skillsPart2} />
      </div>
    </section>
  </div>

  <!-- Additional Skills -->
  <div class="horizontal-gradient-wrapper-1">
    <section
      class="text-center mx-auto py-12 md:py-20 lg:py-24 xl:py-32 dark:text-white"
    >
      <div
        class="max-w-3xl md:max-w-4xl lg:max-w-5xl xl:max-w-7xl mx-auto px-8"
      >
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-6 sm:mb-8 md:mb-12 text-blue-700 dark:text-blue-200 skills-heading-color"
        >
          Also familiar with...
        </h2>
        <div class="space-y-6">
          <p class="text-base sm:text-lg md:text-xl">
            My technical toolkit extends to WordPress development, modern
            frameworks like Next.js, and server-side technologies including
            Node.js.
          </p>

          <p class="text-base sm:text-lg md:text-xl">
            Beyond coding, I've established myself as a skilled copywriter,
            crafting engaging content for business leaders and tech companies.
          </p>

          <p class="text-base sm:text-lg md:text-xl">
            My writing has reached audiences across LinkedIn, Twitter, and
            leading industry blogs—often under others' bylines as a trusted
            ghostwriter. This dual expertise in development and writing–combined
            with my prompt engineering skills–gives me a unique edge in creating
            web experiences that truly connect with users.
          </p>
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #ffffff, #dde4ee);
  }

  .horizontal-gradient-wrapper-1 {
    background: linear-gradient(to bottom, #dde4ee, #ffffff);
  }
  :global(.dark) .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #45617c, #374962);
  }

  :global(.dark) .horizontal-gradient-wrapper-1 {
    background: linear-gradient(to bottom, #374962, #45617c);
  }
</style>
