---
import SkillsComponent from "@/components/SkillsComponent.astro";
import Layout from "@/layouts/Layout.astro";

const skills = [
  {
    name: "HTML",
    description:
      "Proficient in creating structured, semantic markup for web pages.",
    icon: "🖥️",
    level: "Beginner",
  },
  {
    name: "CSS",
    description:
      "Skilled in creating interactive web experiences and manipulating the DOM.",
    icon: "⚙️",
    level: "Skill",
  },
  {
    name: "Astro",
    description: "Text coming.",
    icon: "🖥️",
    level: "Advanced",
  },
  {
    name: "JavaScript",
    description: "Update coming.",
    icon: "⚙️",
    level: "Dumb",
  },
];

// Split the skills array into two parts
const half = Math.ceil(skills.length / 2);
const skillsPart1 = skills.slice(0, half);
const skillsPart2 = skills.slice(half);

const teamworkphoto = "/images/teamwork.jpeg";
const pageTitle = "Technical Skills";
const pageDescription = "The technical skills I possess.";
---

<Layout title={pageTitle} description={pageDescription}>
  <!-- Introduction Text Section -->
  <section
    class="text-center mx-auto py-8 sm:py-16 bg-gray-100 dark:bg-black dark:text-white"
  >
    <div class="max-w-screen-xl mx-auto">
      <h1 class="h1-text heading-text font-bold mb-4">
        Why These Skills Matter
      </h1>
      <p class="text-lg">
        Understanding and refining these soft skills is crucial for professional
        growth, fostering strong team dynamics, and ensuring project success.
      </p>
    </div>
  </section>

  <!-- SkillsComponent with Split Part 1 -->
  <section class="py-8 sm:py-16 bg-gray-100 dark:bg-black">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="h2-text heading-text font-bold text-center mb-8 sm:mb-16">
        {pageTitle}
      </h2>
      <SkillsComponent skills={skillsPart1} />
    </div>
  </section>

  <!-- Image or Additional Content Section -->
  <section
    class="about-content max-w-screen-2xl mx-auto py-8 sm:py-16 px-4 sm:px-6 lg:px-8 transition-colors duration-300 w-full text-center"
  >
    <div class="flex justify-center mb-8">
      <img
        src={teamworkphoto}
        alt="animated image"
        class="w-full h-auto"
        width="100%"
        height="auto"
      />
    </div>
    <!-- Optionally add text or elements on top of the image -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-white text-center text-2xl">"Text."</p>
    </div>
  </section>

  <!-- SkillsComponent with Split Part 2 -->
  <section class="py-8 sm:py-16 bg-gray-100 dark:bg-black">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <SkillsComponent skills={skillsPart2} />
    </div>
  </section>
</Layout>
