---
import "@fontsource/cabin";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getImage } from "astro:assets";

export interface Props {
  title?: string;
  description?: string;
  image?: string | ImageMetadata;
}

const {
  title = "Matt Birch | Web Developer",
  description = `Transforming ideas into powerful web experiences.
  I combine technical expertise with creative problem-solving to deliver 
  websites that not only look great but perform exceptionally.`,
  image = "images/drums.png",
} = Astro.props;

const siteUrl = import.meta.env.PROD
  ? "https://mattbirch.co"
  : Astro.url.origin;

async function getImageUrl(image: string | ImageMetadata): Promise<string> {
  if (typeof image === "string") {
    return new URL(image, siteUrl).toString();
  } else {
    const ogImage = await getImage({
      src: image,
      width: 1200,
      height: 630,
      format: "jpg",
    });
    return new URL(ogImage.src, siteUrl).toString();
  }
}

const ogImageUrl = await getImageUrl(image);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#134e4a" />
    <link rel="canonical" href={Astro.url} />
    <title>{title}</title>
    <!-- Open Graph - Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImageUrl} />
  </head>
  <body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
